.container-custom {
    padding: 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    max-width: 800px;
    margin: auto;
}

h2 {
    margin-bottom: 30px;
}

button.btn-primary {
    background-color: rgb(13, 143, 236);
    margin-top: 20px;
}
