.about-section {
    position: relative;
    background: linear-gradient(45deg, rgba(7, 111, 225, 0.87) 0%, rgba(125, 182, 239, 0.87) 100%),
    url("../../assets/img/about_section_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    margin-bottom: 50px;
}
.text-justify {
    text-align: justify;
}
