.masthead {
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}
.masthead .container {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0 15px;
}
.masthead h1 {
    font-family: "Arial", serif !important;
    animation: fadeIn 1.5s ease;
    font-size: calc(4.25rem + 2vw);
    font-weight: 700;
    line-height: 10rem;
    background-color: rgb(171, 171, 173);
    text-shadow: 8px 5px 6px rgba(5, 5, 5, 0.2);
}
.masthead h2 {
    animation: fadeIn 1.5s ease;
    font-size: calc(1rem + 1.5vw);
    font-weight: 400;
    color: #bbb5b5;
    word-break: break-word;
}
.btn-primary {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.15);
    border-color: #0ea9e1;
    transition: background-color 0.3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}