#mainNav {
    background-color: #0a6ebb;
    transition: background-color 0.5s;
}

#mainNav .navbar-brand {
    color: #fff;
}

#mainNav .navbar-toggler {
    color: white;
    border: none;
    outline: none;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #050505;
    padding: 0.75rem 1rem;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fafafa;
}

.collapse.show {
    display: block !important;
}
